@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Roboto Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	min-height: 1280px;
	color: #3b3b3b;
	font-size: 24px;
}

a {
	margin: 0;
	font-weight: 400;
}

h1 {
	font-size: 32px;
}

h2 {
	margin: 20px 0px;
}

h3 {
	margin: 10px 0px;
	font-weight: 200;
}

h4 {
	font-size: 18px;
	margin: 10px 0px;
}

a,
a:visited,
a:hover {
	color: teal;
	text-decoration: none;
	border-bottom: 2px solid currentColor;
}

#title {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100vh;
	color: white;
	background-color: black;
	margin: auto;
}

.titleContainer {
	position: absolute;
	top: 30%;
	width: 100%;
}

iframe {
	z-index: -30;
}

.mySlides {
	width: 100%;
	height: 100vh;
	opacity: 0.2;
}

.title {
	font-size: 2em;
	font-weight: 400;
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

.subtitle {
	font-size: 1.2em;
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

.author {
	font-size: 0.5em;
	width: 100%;
	text-align: center;
	margin: 1rem auto;
}

#intro {
	margin: 1rem auto;
	text-align: center;
}

.intro__hed {
	color: white;
	font-size: 1.5em;
	margin: 2rem auto 0.5rem auto;
}

.intro__dek {
	font-weight: 200;
	font-size: 1em;
	color: white;
}

.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}

#intro {
	margin: 100px;
	text-align: left;
	margin-bottom: 120px;
}

#outro {
	padding-top: 80px;
	padding-left: 100px;
	padding-right: 100px;
	color: white;
	height: 500px;
	background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */
    url('https://upload.wikimedia.org/wikipedia/commons/a/a6/Dozens_of_mourning_people_captured_during_civil_service_in_remembrance_of_November_2015_Paris_attacks_victims._Western_Europe%2C_France%2C_Paris%2C_place_de_la_R%C3%A9publique%2C_November_15%2C_2015.jpg');
    width: 100%;
    height: 100vh;
}

@media (min-width: 840px) {
	.nav__examples {
		margin-top: 0;
		margin-left: 2rem;
	}
}

#scrolly {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: inline-block;
	/* background-color: #f3f3f3; */
	background-color: black;
/*	padding: 1rem;*/
}

#scrolly > * {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

article {
	position: relative;
	padding: 0 1rem;
	max-width: 20rem;
}

.first{
	display: flex;
}

.third, .second{
	margin-top: 50px;
	display: flex;
}

figure {
	position: -webkit-sticky;
	position: sticky;
	width: 100%;
	margin: 25px;
	padding-top: 50px;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background-color: black;
}

figure p {
	text-align: left;
	padding: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 8rem;
	font-weight: 900;
	color: #fff;
}

#methodology {
	padding-top: 15px;
	color: white;
	text-align: center;
	font-size: 15px;
}
.largeicon {
	font-size: 20px;
}
.step {
	margin: 0 auto 2rem auto;
	background-color: black;
	color: white;
}

.step:last-child {
	margin-bottom: 0;
}

.step.is-active {
	/* background-color: black;
	color: white; */
}

.step.is-active h2 {
	color: red;
}

.step p {
	text-align: left;
	padding: 1px;
	font-size: 12px;
}

.emphasis {
	color: red;
}

/*div.tooltip { 
	position: absolute;     
	text-align: center;     
	width: 120px;         
	height: 28px;         
	padding: 1px;
	color: white;       
	font: 12px sans-serif;    
	background: grey; 
	border: 0px;    
	border-radius: 8px;     
	pointer-events: none;     
}*/

.line {
	fill:none;
}

.x.axis path {
	display: inline;
}

.y.axis path {
	display: none;
}


	
.axis.y .tick line {      
	stroke-width:1px;       
	stroke:#ccc;      
	stroke-opacity:1;     
}

.axis path,
.axis line {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}
 
.axis text {
	font-family: 'Roboto Mono';
	font-weight: 300;
    font-size: 11px;
}
 
.loading {
    font-family: 'Roboto Mono';
    font-size: 15px;
}
 
.circle {
    fill: rgba(0, 0, 0, .5);
	stroke: #555555;
	stroke-width: 1;
}

div.tooltip {	
    position: absolute;			
    text-align: left;			
    width: auto;					
    height: auto;					
    padding: 5px;
    color: white;				
    font: 10px 'Roboto Mono';		
    background: black;	
    border: 1px solid white;
    border-radius: 3px;			
    pointer-events: none;			
}

.transition{
	padding-top: 200px;
	padding-bottom: 200px;
	padding-left: 100px;
	padding-right: 100px;
	color: white;
	background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)
    ),
    /* bottom, image */
    url('https://amgreatness.com/wp-content/uploads/2019/04/GettyImages-1138498129-1-1024x576.jpg');
    width: 100%;
    height: 100%;
}